.frame {
    flex-shrink: 0;
    width: 1px;
    height: 269px;
    overflow: hidden;
    flex: 1 0 0px;
    position: relative;
    background-image: url(/* iPhone-Flower-Wallpaper-167.jpg */);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }