.container {
  display: flex;
}
.sideBar {
  position: fixed;
  z-index: 10;
  max-height: 100%;
}
.emptyForAReason {
  width: 80px;
  height: 100%;
}
.innerContainer{
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.mainContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.departmentC {
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(14,1fr);
  column-gap: 40px;
  overflow-x: scroll;
}

.dept {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 10px;
}
.icon{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 20px;
  font-size: 30px;
}
.content{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 20px;
  text-align: center;
}
.departmentC::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: #fff3;
  -webkit-border-radius: 1ex;
}

.departmentC::-webkit-scrollbar-thumb {
  background: #1d1b31;
  -webkit-border-radius: 1ex;
}

.departmentC::-webkit-scrollbar-corner {
  background: #fff3;
}
