.container {
  display: flex;
  font-family: "Nunito", sans-serif !important;
}
.sideBar {
  position: fixed;
  z-index: 10;
  max-height: 100%;
}
.emptyForAReason {
  width: 80px;
  height: 100%;
}
.innerContainer {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.mainContainer {
  display: flex;
  overflow: hidden;
  padding: 5px 20px 5px 20px;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.textContainer {
  display: flex;
  flex-direction: column;
  flex: 5;
}
.content {
  border-radius: 10px;
  padding: 20px;
  margin: 8px;
  height: 90vh;
  overflow-y: scroll;
}
.heading {
  font-size: 30px;
  font-weight: 400;
}
.text {
  font-size: 23px;
}
.statscontainer {
  flex: 4;
  height: 97vh;
}
.stathead {
  font-size: 50px;
  padding: 5px;
}

.stats {
  gap: 10px;
  height: 87vh;

  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  font-size: 30px;
}
.stats1 {
  border-radius: 10px;
  height: 100%;
  grid-column: 1 /3;
  background-color: #90afc5;
}
.stats2 {
  border-radius: 10px;

  height: 100%;
  background-color: #336b87;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  div {
    text-align: left;
  }
}
.stats3 {
  height: 100%;
  border-radius: 10px;

  grid-row: span 2;
  background-color: #75b1a9;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  div {
    text-align: right;
  }
}
.stats4 {
  height: 100%;
  border-radius: 10px;

  background-color: #a1d6e2;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  div {
    text-align: left;
  }
}
.stats5 {
  height: 100%;
  border-radius: 10px;

  grid-column: 2 / span 2;
  background-color: #2c7873;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  div {
    text-align: right;
  }
}

.stats6 {
  height: 100%;
  border-radius: 10px;

  grid-row: 3 / span 3;
  background-color: #1995ad;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  div {
    text-align: left;
  }
}
.stats7 {
  height: 100%;
  border-radius: 10px;

  grid-column: 2 / span 3;
  background-color: #7e675e;
}
.stats8 {
  height: 100%;
  border-radius: 10px;

  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
  background-color: #dda288;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  div {
    text-align: right;
  }
}
.stats9 {
  height: 100%;
  border-radius: 10px;

  grid-row: 3 / span 2;
  background-color: #acbd78;
}
.people {
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .sideBar {
    width: 240px;
  }
  .mainContainer {
    flex-direction: column;
    overflow-y: scroll;
  }
  .textContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .stats {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 18px;
  }
  .stats1,
  .stats2,
  .stats3,
  .stats4,
  .stats5,
  .stats6,
  .stats7,
  .stats8,
  .stats9 {
    border-radius: 10px;
    height: 100%;
    width: 90%;
    padding: 19px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
