.container {
  display: flex;
}
.sideBar {
  position: fixed;
  z-index: 10;
  max-height: 100%;
}
.bg {
  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: -100;
}
.desktop {
  position: relative;
}
.emptyForAReason {
  width: 80px;
}
.hp {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .sideBar {
    width: 240px;
  }
}
